{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead"
    style="background-image: url('         {{ url_for('static', filename='img/register.jpg') }}       ')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Register</h1>
                    <span class="subheading">Register and Start Blogging.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="mb-5">Register New Account</h1>
            <form action="/register" method="POST" onsubmit="return validate()">
                
                <p>UserName: <input class="form-control" type="text" name="userid"></p>
                <P>Password: <input class="form-control" type="password" name="userpass" id="password" required></p>
                <p>Confirm Password: <input class="form-control" type="password" name="cpassword" id="cpassword"></p>
                
                <p>Email: <input class="form-control" type="email" name="email"></p>
                <p>First Name: <input class="form-control" type="text" name="firstname"></p>
                <p>Last Name: <input class="form-control" type="text" name="lastname"></p>
                <p>Address Line 1: <input class="form-control" type="text" name="address1"></p>
                <p>Address Line 2: <input class="form-control" type="text" name="address2"></p>
                <p>Zipcode: <input class="form-control" type="text" name="zipcode"></p>
                <p>City: <input class="form-control" type="text" name="city"></p>
                <p>State: <input class="form-control" type="text" name="state"></p>
                <p>Country: <input class="form-control" type="text" name="country"></p>
                <p>Phone Number: <input class="form-control" type="text" name="phone"></p>

                <p><input class="btn btn-success" type="submit" value="Register"></p>

            </form>
        </div>
    </div>
</div>

{% endblock %}